<ion-header>
  <div style="height: 80px;width: 100%;margin: 0px;background-color: #ef3232;">

    <div class="col-2" style="margin-top: 36px;">
      <img src="../../assets/iconbackarrow.png" (click)="back()"
        style="width: 18px;margin-left: 22px;" />

    </div>
    <div class="col-10" style="margin-top: 20px;font-size: 18px;color: white;text-align: justify;">
      <h5>{{title}}</h5>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-list *ngIf="quizesEntity.length > 0">
    <ion-card class="ion-margin ion-padding" *ngFor="let quiz of quizesEntity" (click)="startQuiz(quiz.id)">
      <ion-card-content>
        <ion-item detail="true" class="ion-margin-bottom ion-margin-top">
          <ion-thumbnail>
            <img src="../../assets/Starttestimage.png"/>
          </ion-thumbnail>
          <ion-label>
            {{quiz.quizname}}
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>