<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 110px;width: 100%;margin: 0px;">
	<div class="row" style="background-color: #ef3232;">
      <div class="col-3"   style="margin-top: 36px;">
        <img src="../../assets/iconbackarrow.png" [routerLink]="['/courserunning',cid,]" style="width: 18px;margin-left: 22px;"/>
		
		</div>
		<div class="col-6" style="margin-top: 25px;font-size: 21px;color: white;text-align: center;">
      Topic
  	</div>
    
		<div class="col-3" style="margin-top: 34px;color: white;text-align: right;padding-right: 15px;" [routerLink]="['/cfaqs',cid,tid,iscompleted]">
      Details
  	</div>
    </div>
    
  <div style="font-size: 17px;margin: 0px;margin-top: 17px;font-weight: 600;clear: both;color: black;background: white;height: 50px;padding: 2px 2px 2px 10px;">
      
    <h3 style="font-size: 14px;margin: 0px;margin-top: 14px;font-weight: 600;color: black;"> Topic : {{TopicName}}</h3>
  </div>
  </div>
  <div class="courseload" style="margin: 0px 15px;margin-top: 160px;">
    <p style="text-align: justify;font-size: 14px;color: #707070;white-space: pre-wrap;">{{TopicDescription}}
    </p>
    <ion-button [style.display]="(iscompleted==='1' ? 'none' : 'block')" id="EnrollNow" color="info" size="default" (click)="makecompleted()" expand="block">Mark as Complete</ion-button>
  </div>
	</div>
  </div>  
</ion-content>
