

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
		<div class="col-12" style="text-align: center;">
			<img src="../../assets/spl1.png" style="width: 130px;margin-top: 60px;"/>
			
			
			
		</div>
		<form  #form="ngForm"  (ngSubmit)=showLoader()>
		<div class="col-12"  style="margin-left: 30px;padding: 0px;">
			<h2 style="font-weight: 700;color: black;font-size: 26px;">Let's Sign you in,</h2>
			<div id="texttochange" >
				<h3 style="color: black;font-size: 14px;">Welcome back you've been missed</h3>
			</div>
		
			<div text-center class="ErroDiv" style="display:none">
				<h3 style="text-align: left;" id="ErrorSignin">Email or Password Incorrect!</h3>
			  </div>
		</div>
		<div class="col-12" >
			<h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Email</h2>
			  <div padding>
				<ion-item  id="EmailInput" lines="none">
					<ion-input [(ngModel)]=emailaddress autocomplete="off" value="" [ngModelOptions]="{standalone: true}" name="emailaddress" value="" id="PassInput" type="email" placeholder="Username or Email" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;"></ion-input>
				  </ion-item>
				  
            
            <br>
			
			<h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Password</h2>
            <ion-item  id="EmailInput" lines="none">
				<ion-input [(ngModel)]=password value="" [ngModelOptions]="{standalone: true}" name="password" value="" id="PassInput" type="password" placeholder="Password" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;"></ion-input>
			  </ion-item>
			
			<h2 style="font-weight: 500;color: black;margin-right: 20px;font-size: 14px;text-align: right;" routerLink="/forgetpassword">Forget Password</h2>
          </div>
			
		</div>
		<div class="col-12">
		
			 <div padding style="padding: 0px 10%;margin-top: 20px;">
				<ion-button id="LoginBtn" color="info" size="default" type="submit" [disabled]="form.invalid" expand="block">Sign In</ion-button>
			</div>
          <h2 style="color: black;font-size: 13px;text-align: center;" routerLink="/register" routerDirection="forward"  size="default">Don't have an account <b>Sign up!</b></h2>
		 		</div>
		</form>
	</div>
  </div>
  
  
</ion-content>
