


#EnrollNow
{
    background: #ef3232;
    border-radius: 40px;
    font-size: 15px;
    --box-shadow: none;
    font-weight: 600;
    height: 46px;
    margin-top: 11px;
}

#ErrorSignin
{
    color: #ff0724;
    font-size: 16px;
    font-weight: 500;
    clear: both;
    padding: 0px;
    padding: 0px;
    text-align: left;
}


.cab_container {
    ion-scroll {
        height: 136px;
        white-space: nowrap;
    }
}