

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 75px;width: 100%;margin: 0px;background-color: #ef3232;">
	
				
      <div class="col-3"   style="margin-top: 36px;">
        <img src="../../assets/iconbackarrow.png" routerLink="/dashboard" routerDirection="forward" style="width: 18px;margin-left: 22px;"/>
  
  </div>
		<div class="col-6" style="margin-top: 25px;font-size: 21px;color: white;text-align: center;">
     About Us
  	</div>
    
		<div class="col-3">
     
  	</div>
    
    
   

   
  </div>


  <div class="courseload" style="margin: 0px 15px;margin-top: 130px;text-align: justify;">
  
    EDINFI stands for Education Infinite. Founded by Sir Tariq Tunio, a career civil servant and an educationist, Edinfi provides a modern technology-based platform of best quality education in the digital age to students from all over Pakistan.

    <br> <br> <br> <br>
  

  </div>
	</div>
  </div>
  
  
</ion-content>
