<ion-header>
  <div style="height: 80px;width: 100%;margin: 0px;background-color: #ef3232;">

    <div class="col-2" style="margin-top: 36px;">
      <img src="../../assets/iconbackarrow.png" (click)="goToHome()" style="width: 18px;margin-left: 22px;" />

    </div>
    <div class="col-3" style="margin-top: 32px;font-size: 21px;color: white;text-align: justify;">
      Result
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="../../../assets/Scoreboardimage.png" style="margin-top: 4%;"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h1 class="ion-text-center bold" style="font-size: xx-large; margin-bottom: 0px;">You have scored</h1>
      </ion-col>
    </ion-row>
    <ion-row id="points-container">
      <ion-col size="12">
        <h1 class="ion-text-center bold" style="font-size: 80px; margin-bottom: 0px;">
          <ion-text color="success">{{totalPoints}}</ion-text>
        </h1>
      </ion-col>
      <ion-col size="12">
        <h4 class="ion-text-center bold" style="margin-top: 0px;">Points</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="back()" id="retry" color="info" size="default" expand="block">
    <h3 class="ion-text-capitalize ion-padding lightbold">Retry</h3>
  </ion-button>
  <ion-button  (click)="goToHome()" fill="outline" id="home" color="danger" size="default" expand="block">
    <h3 class="ion-text-capitalize ion-padding lightbold">Home</h3>
  </ion-button>
</ion-content>