#retry {
    background: #ef3232;
    border-radius: 40px;
    font-size: 15px;
    --box-shadow: none;
    font-weight: 600;
    margin-left: 5%;
    width: 90%;
    height: 46px;
    margin-top: 35px;
    margin-bottom: 17px;
}

#home {
    --border-radius: 215px;
    width: 90%;
    margin-left: 5%;
    /* text-align: center; */
    font-size: 15px;
    --box-shadow: none;
    font-weight: 600;
    height: 46px;
    margin-top: 11px;
}

.bold{
    font-weight: bolder;
}

.lightbold{
    font-weight: bold;
}
.large{
    font-size: large;
}

#points-container{
    background: whitesmoke;
    width: 35%;
    border: 1px solid whitesmoke;
    border-radius: 15%;
    margin-top: 25px;
    margin-left: 32%;
}