<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">

      <ion-content>

     <div style="height: 100%;background-color: #b42626;">
  
        <div style="padding-top: 30%;text-align: center;">
          <img  style="border: 6px solid white;width: 30%;border-radius: 50%;" src="../assets/profilepic.png"/>
        </div>
        <div style="text-align: center;padding-top: 10px;font-size: 20px;color: white;">
         {{Fullname}}
        </div>
        <hr style="background: white;height: 0.1rem;opacity: 12%;width: 82%;margin-bottom: 30px;">
        <div style="clear: both;height: 40px;" (click)="gohome()"  >
          <img style="float: left;margin-left: 35px;width: 18px;" src="../assets/home-icon.png"/> <h3 style="float: left;margin: 0px;font-size: 20px;color: white;margin-left: 12px;">Home</h3> <img style="float: right;margin-right: 28px;margin-top: 0px;width: 10px;" src="../assets/farwardarrow.png"/>
        </div>
        
        <div style="clear: both;height: 40px;"  routerLink="/profile" >
          <img style="float: left;margin-left: 35px;width: 18px;"  src="../assets/profile-icon.png"/> <h3 style="float: left;margin: 0px;font-size: 20px;color: white;margin-left: 12px;">Profile</h3>  <img style="float: right;margin-right: 28px;margin-top: 0px;width: 10px;" src="../assets/farwardarrow.png"/>
        </div>

        
        <div style="clear: both;height: 40px;"  routerLink="/aboutus" >
          <img style="float: left;margin-left: 35px;width: 18px;"  src="../assets/about-icon.png"/> <h3 style="float: left;margin: 0px;font-size: 20px;color: white;margin-left: 12px;">About</h3>  <img style="float: right;margin-right: 28px;margin-top: 0px;width: 10px;" src="../assets/farwardarrow.png"/>
        </div>

        
        <div style="clear: both;height: 40px;"  routerLink="/contactus" >
          <img style="float: left;margin-left: 35px;width: 18px;"  src="../assets/contact-icon.png"/> <h3 style="float: left;margin: 0px;font-size: 20px;color: white;margin-left: 12px;">Contact Us</h3>  <img style="float: right;margin-right: 28px;margin-top: 0px;width: 10px;" src="../assets/farwardarrow.png"/>
        </div>

        
        <div style="clear: both;height: 40px;" (click) ="Logout()" >
          <img style="float: left;margin-left: 35px;width: 18px;"  src="../assets/logout-icon.png"/> <h3 style="float: left;margin: 0px;font-size: 20px;color: white;margin-left: 12px;">Logout</h3> <img style="float: right;margin-right: 28px;margin-top: 0px;width: 10px;" src="../assets/farwardarrow.png"/>
        </div>
     </div>

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>