

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;width: 100%;z-index: 1000;top: 0px;height: 300px;background: white;">
      <div class="col-12" style="text-align: center;">
        <img src="../../assets/spl1.png" style="width: 130px;margin-top: 60px;"/>
        
        
        
      </div>
    <div class="col-12"  style="margin-left: 30px;padding: 0px;">
			<h2 style="font-weight: 700;color: black;font-size: 26px;">Forget your password?,</h2>
			<div id="texttochange" >
				<h3 style="color: black;font-size: 14px;">Please enter the code from your email</h3>
			</div>
		
      <div text-center class="ErroDiv" style="display:none">
				<h3 id="ErrorSignin">Email already exist!</h3>
			  </div>
			  <div text-center class="SuccessDiv" style="display:none">
				<h3 id="SuccessSignin">Registered Successfully!</h3>
			  </div>
		</div>
  </div>
  <form  #form="ngForm" style="margin-top: 300px;">
  
  <div class="col-12" >
      <div padding>
      
           <h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Code</h2>

          <ion-item  id="EmailInput" lines="none">
            <ion-input autocomplete="off" value="" [ngModelOptions]="{standalone: true}" name="emailaddress" value="" id="PassInput" type="email" placeholder="Enter your code" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;margin-left: 14px;margin-right: 14px;padding: 5px 15px 5px 15px !important;"></ion-input>
          </ion-item>
          
          
    
        </div>
    
  </div>
  <div class="col-12">
  
     <div padding style="padding: 0px 10%;margin-top: 20px;">
          <ion-button id="LoginBtn" color="info" size="default" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
        </div>
        <h2 style="color: black;font-size: 13px;text-align: center;" routerLink="/login" routerDirection="forward"  size="default">Already have an account <b>Sign in!</b></h2>
       </div>
  </form>
	</div>
  </div>
  
  
</ion-content>
