ion-card{
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 29px !important;
    word-wrap: break-word;
    box-shadow: 7px 3px 10px 9px rgba(245,245,245,0.79);
-webkit-box-shadow: 7px 3px 10px 9px rgba(245,245,245,0.79);
-moz-box-shadow: 7px 3px 10px 9px rgba(245,245,245,0.79);
    width: 380px;
  }

  #EnrollNow
{
    background: #ef3232;
    border-radius: 40px;
    font-size: 15px;
    --box-shadow: none;
    font-weight: 600;
    height: 46px;
    margin-top: 11px;
}

ion-thumbnail{
  margin-top: 15px;
  margin-right: 10px;
  width: 30px;
}

.bold{
  font-weight: bold;
}

ion-list-header{
  margin-top: 29px;
  margin-bottom: 24px;
}

.centreCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}