<ion-header>
  <div style="height: 80px;width: 100%;margin: 0px;background-color: #ef3232;">

    <div class="col-2" style="margin-top: 36px;" (click)="back()">
      <img src="../../assets/iconbackarrow.png" style="width: 18px;margin-left: 22px;" />

    </div>
    <div class="col-2" style="margin-top: 32px;font-size: 21px;color: white;text-align: justify;">
      Quiz
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-slides pager="false" #mySlider>
    <ion-slide *ngFor="let question of allQuestions">
      <ion-list *ngIf="allQuestions.length > 0">
        <ion-label class="ion-text-wrap ion-padding" style="width:40%; padding: 8%;">
          <h1 class="ion-margin bold ion-text-justify ion-padding" style="padding: 7%;">{{question.question}}</h1>
        </ion-label>
        <div class="centreCard">
          <ion-card class="fullwidthcard">
            <ion-card-content>
              <ion-item (click)="getSelectedValue('a',question.correct_answer)" lines="none" class="fullwidthItem">
                <ion-thumbnail class="ion-margin">
                  <img [src]="selectedAnswer === 'a' ? enabledImage : disabledImage" />
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-margin">{{question.option_a}}</ion-label>
                <!-- <ion-radio slot="start" color="danger" value="a" ></ion-radio> -->
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card class="fullwidthcard">
            <ion-card-content>
              <ion-item lines="none" class="fullwidthItem" (click)="getSelectedValue('b',question.correct_answer)">
                <ion-thumbnail class="ion-margin">
                  <img [src]="selectedAnswer === 'b' ? enabledImage : disabledImage" width="38px" />
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-margin">{{question.option_b}}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card class="fullwidthcard">
            <ion-card-content>
              <ion-item lines="none" class="fullwidthItem" (click)="getSelectedValue('c',question.correct_answer)">
                <ion-thumbnail class="ion-margin">
                  <img [src]="selectedAnswer === 'c' ? enabledImage : disabledImage" width="38px" />
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-margin">{{question.option_c}}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card class="fullwidthcard">
            <ion-card-content>
              <ion-item lines="none" class="fullwidthItem" (click)="getSelectedValue('d',question.correct_answer)">
                <ion-thumbnail class="ion-margin">
                  <img [src]="selectedAnswer === 'd' ? enabledImage : disabledImage" width="38px" />
                </ion-thumbnail>
                <ion-label class="ion-text-wrap ion-margin">{{question.option_d}}</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button (click)="goToNextQuestion()" id="EnrollNow" color="info" size="default" expand="block">
    <p class="text-sm ion-text-capitalize">Next</p>
  </ion-button>
</ion-footer>