

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 200px;width: 100%;margin: 0px;background-color: #ef3232;">
	
				<div class="col-3"   style="margin-top: 36px;">
          <img src="../../assets/iconbackarrow.png" routerLink="/dashboard" routerDirection="forward" style="width: 18px;margin-left: 22px;"/>
		
		</div>
		<div class="col-6" style="margin-top: 32px;font-size: 21px;color: white;text-align: center;">
     My Course
  	</div>
    
		<div class="col-3" style="margin-top: 25px;">
  	</div>
    
		
    
  <div style="background: white;padding: 14px;margin-bottom: 16px;clear: both;margin-top: 135px;height: 255px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
      <img [src]="Logo" style="width: 100%;border-radius: 12px;position: relative;top: -80px;"/>

      
      <div style="position: relative;top: -80px;">
        <h2 style="font-weight: 600;color: black;font-size: 16px;margin-top: 10px;margin-bottom: 7px;">{{CourseName}}</h2>
        <div class="row">
          <div class="col-3"  style="padding: 0px; display: inline; padding-top: 21px;">
            <img src="../../assets/Topicicon.png" style="width: 15px;float: left;"/>  <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;">{{TotalTopics}} Topics</h3>
          </div>
          <div class="col-4" style="padding: 0px;display: inline;margin-top: 16px;border-left: 0.12rem solid #d9d0d0;height: 26px;padding-left: 12px;padding-top: 5px;margin-left: 8px;">
            <img src="../../assets/Timeicon.png" style="width: 15px;float: left;"/> <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;"> {{Duration}} Days</h3>
  
          </div>
          <div class="col-4"  style="padding: 0px;">
          </div>
        </div>
      <div class="row" style="border-top: 2px solid #f9f7f7f2;margin-top: 8px;">
        <div class="col-4"  style="padding: 0px;">
          <h3 style="font-size: 15px;margin: 0px;margin-top: 17px;font-weight: 600;color: #ef3232;"> Description</h3>
        </div>
        <div class="col-4"  style="padding: 0px;">
          <h3 style="font-size: 15px;margin: 0px;margin-top: 17px;font-weight: 600;color: #cbc5c5;" [routerLink]="['/coursetopics',ID]" > Topics</h3>

        </div>
       
      </div>
      </div>
    </div>
   

   
  </div>
  <div class="courseload" style="margin: 0px 15px;margin-top: 440px;">
    <p style="text-align: justify;font-size: 14px;color: #707070;">{{Description}}</p>

    <ion-button id="EnrollNow" color="info" size="default" (click)="makeenrolled()" expand="block">Start Now</ion-button>
  </div>
	</div>
  </div>
  
  <div style="width: 100%;position: absolute;z-index: 1000;background: #00000096;height: 100%;top: 0px;">
    &nbsp;
  </div>

  <div style="width: 90%;position: absolute;top: 0px;z-index: 19999;background: white;margin: 25% 5%;height: fit-content;border-radius: 31px;padding-bottom: 30px;padding: 0px 20px 30px 20px;">
    <div class="row">
      <div class="col-12">
          <img style="text-align: center;padding: 2% 20% 2% 20%;" src="../../assets/Confirmation.png"/>
          <h2 style="text-align: center;font-weight: 600;margin-bottom: 30px;margin-top: 0px;">Are you sure you want to enroll in this course?</h2>

          
    <ion-button id="EnrollNow" color="info" size="default" (click)="makeenrolled()" expand="block">Start Now</ion-button>

    
    <ion-button style="background: white;border: 2px solid #ef3232;color: #ef3232;" id="EnrollNow" color="info" size="default" [routerLink]="['/coursepage',ID]" expand="block">Skip</ion-button>
      </div>
    </div>
  </div>
  
</ion-content>
