<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
    <div class="row">
      <div
        style="position: fixed;z-index: 1000;top: 0px;height: 200px;width: 100%;margin: 0px;background-color: #ef3232;">

        <div class="col-3" style="margin-top: 36px;">
          <img src="../../assets/iconbackarrow.png" routerLink="/dashboard" routerDirection="forward"
            style="width: 18px;margin-left: 22px;" />

        </div>
        <div class="col-6" style="margin-top: 32px;font-size: 21px;color: white;text-align: center;">
          My Course
        </div>

        <div class="col-3" style="margin-top: 34px;color: white;text-align: right;padding-right: 15px;"
          [routerLink]="['/faqs',cid]">
          Details
        </div>



        <div
          style="background: white;padding: 14px;margin-bottom: 16px;clear: both;margin-top: 135px;height: 255px;border-top-left-radius: 15px;border-top-right-radius: 15px;">
          <img [src]="Logo" style="width: 100%;border-radius: 12px;position: relative;top: -80px;" />


          <div style="position: relative;top: -80px;">
            <h2 style="font-weight: 600;color: black;font-size: 16px;margin-top: 10px;margin-bottom: 7px;">
              {{CourseName}}</h2>

            <div class="row">
              <div class="col-3" style="padding: 0px; display: inline; padding-top: 21px;">
                <img src="../../assets/Topicicon.png" style="width: 15px;float: left;" />
                <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;">{{TotalTopics}}
                  Topics</h3>
              </div>
              <div class="col-4"
                style="padding: 0px;display: inline;margin-top: 16px;border-left: 0.12rem solid #d9d0d0;height: 26px;padding-left: 12px;padding-top: 5px;margin-left: 8px;">
                <img src="../../assets/Timeicon.png" style="width: 15px;float: left;" />
                <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;"> {{Duration}}
                  Days</h3>

              </div>
              <!-- <ion-card class="ion-margin startTest_container">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-img src="../../assets/Starttestimage.png"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card> -->
            </div>
            <div class="row" style="border-top: 2px solid #f9f7f7f2;margin-top: 8px;">
              <div
                style="background: white;border-radius: 10px;padding: 14px;margin-bottom: 16px;margin-right:15px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <div class="row">
                  <div class="col-4" style="padding: 0px;">
                    <img src="../../assets/Starttestimage.png" style="width: 100%;border-radius: 12px;" />
                  </div>
                  <div class="col-8" style="padding: 0px;">
                    <ion-button (click)="goToQuiz(cid)" id="EnrollNow" color="info" size="default" expand="block"><p class="text-sm ion-text-capitalize">Start Assessment Test Now</p></ion-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>

      <div class="courseload" style="margin: 0px 15px;margin-top: 470px;padding-top: 30px;">

        <div class="row" style="border-top: 2px solid #f9f7f7f2;margin-top: 8px;">
          <div class="col-9" style="padding: 0px;">
            <h3 style="font-size: 15px;margin: 0px;margin-top: 17px;font-weight: 600;color: #ef3232;"> All Topics
            </h3>
          </div>
          <div class="col-3" style="padding: 0px;text-align: right;padding-right: 7px;">
            <h3 style="font-size: 15px;margin: 0px;margin-top: 17px;font-weight: 600;color: black;">
              {{TotalTopics}}/{{TotalCompleted}}</h3>

          </div>

        </div>



        <div class="row" style="border-bottom: 2px solid #f9f7f7f2;" *ngFor="let usersm of connectionslist"
          [routerLink]="['/coursertopicsingle',cid,usersm.id,usersm.IsCompleted]">
          <div class="col-1">
            <h3
              style="background: #ef3232;text-align: center;border-radius: 50%;height: 25px;width: 25px;font-size: 14px;padding-top: 4px;color: white;margin-top: 0px;margin-bottom: 0px;">
              {{usersm.num}}</h3>
          </div>

          <div class="col-10">
            <h3 style="font-size: 13px;font-weight: 600;margin-left: 14px;margin-top: 0px;margin-bottom: 4px;">
              {{usersm.TopicName}}</h3>
            <h3 style="font-size: 9px; font-weight: 600; padding: 0px; margin: 0px 0px 0px 14px; color: #bdbcbc;">
              {{usersm.Duration}} min</h3>
          </div>

          <div class="col-1">
            <img style="margin-top: 0px;margin-bottom: 0px;"
              [src]="(usersm.IsCompleted==1 ? '../../assets/Completeicon.png' : '../../assets/nextiicon.png')" />
          </div>
        </div>






      </div>
    </div>
  </div>


</ion-content>