

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 75px;width: 100%;margin: 0px;background-color: #ef3232;">
	
				
      <div class="col-3"   style="margin-top: 36px;">
        <img src="../../assets/iconbackarrow.png" routerLink="/dashboard" routerDirection="forward" style="width: 18px;margin-left: 22px;"/>
  
  </div>
		<div class="col-6" style="margin-top: 25px;font-size: 21px;color: white;text-align: center;">
     My Profile
  	</div>
    
		<div class="col-3">
     
  	</div>
    
    
   

   
  </div>


  <div class="courseload" style="margin: 0px 15px;margin-top: 80px;">
  

		<form  #form="ngForm"  (ngSubmit)=updateprofile() >
		
      <div class="col-12" >
          <div padding>
            <h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Full Name</h2>
  
              <ion-item  id="EmailInput" lines="none">
                <ion-input [(ngModel)]=Fullname autocomplete="off" value="" [ngModelOptions]="{standalone: true}" name="Fathername" value="" id="PassInput" type="email" placeholder="Enter your fullname" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;margin-left: 14px;margin-right: 14px;padding: 5px 15px 5px 15px !important;"></ion-input>
              </ion-item>
              
              <br>
              <h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Father Name</h2>
  
              <ion-item  id="EmailInput" lines="none">
                <ion-input [(ngModel)]=Fathername autocomplete="off" value="" [ngModelOptions]="{standalone: true}" name="Fathername" value="" id="PassInput" type="email" placeholder="Enter your fathername" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;margin-left: 14px;margin-right: 14px;padding: 5px 15px 5px 15px !important;"></ion-input>
              </ion-item>
              
              <br>
              <h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Student ID (optional)</h2>
  
              <ion-item  id="EmailInput" lines="none">
                <ion-input [(ngModel)]=StudentID autocomplete="off" value="" [ngModelOptions]="{standalone: true}" name="StudentID" value="" id="PassInput" type="email" placeholder="Enter your studentid" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;margin-left: 14px;margin-right: 14px;padding: 5px 15px 5px 15px !important;"></ion-input>
              </ion-item>
              
              <br>
               <h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Email Address</h2>
  
              <ion-item  id="EmailInput" lines="none">
                <ion-input [(ngModel)]=EmailAddress autocomplete="off" value="" [ngModelOptions]="{standalone: true}" name="EmailAddress" value="" id="PassInput" type="email" placeholder="Enter your emailaddress" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;margin-left: 14px;margin-right: 14px;padding: 5px 15px 5px 15px !important;"></ion-input>
              </ion-item>
              
              <br>
              <h2 style="font-weight: 600;color: black;margin-left: 30px;font-size: 18px;">Mobile Number</h2>
  
              <ion-item  id="EmailInput" lines="none">
                <ion-input [(ngModel)]=PhoneNumber autocomplete="off" value="" [ngModelOptions]="{standalone: true}" name="PhoneNumber" value="" id="PassInput" type="email" placeholder="Enter your phonenumber" ngModel required style="border-radius: 4px;background: #f6f6f6;height: 50px;margin-left: 14px;margin-right: 14px;padding: 5px 15px 5px 15px !important;"></ion-input>
              </ion-item>
              
              <br>
     
              
        
            </div>
        
      </div>
      <div class="col-12">
      
         <div padding style="padding: 0px 10%;margin-top: 20px;">
              <ion-button id="LoginBtn" color="info" size="default" type="submit" [disabled]="form.invalid" expand="block">Save</ion-button>
            </div>
           </div>
      </form>

  

  </div>
	</div>
  </div>
  
  
</ion-content>
