

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 75px;width: 100%;margin: 0px;background-color: #ef3232;">
	
			
      <div class="col-2"   style="margin-top: 36px;">
        <img src="../../assets/iconbackarrow.png" routerLink="/dashboard" routerDirection="forward" style="width: 18px;margin-left: 22px;"/>
  
  </div>
		<div class="col-8" style="margin-top: 25px;font-size: 21px;color: white;text-align: center;">
      List of Courses Offered
  	</div>
    
		<div class="col-2">
     
  	</div>
    
    
   

   
  </div>


  <div class="courseload" style="margin: 0px 15px;margin-top: 130px;">


    <div style="background: white;border-radius: 10px;padding: 14px;margin-bottom: 16px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;" *ngFor = "let usersm of connectionslist" [style.display]="(usersm.isenrolled==1 ? 'none' : 'block')" >
      <img [src]="usersm.Image" style="width: 100%;border-radius: 12px;"  />
      <h2 style="font-weight: 600;color: black;font-size: 16px;margin-top: 10px;margin-bottom: 7px;">{{usersm.coursename}} </h2>
      <p style="margin: 0px;font-size: 12px;text-align: justify;">{{usersm.courseshortdescription}} </p>
      <div class="row">
        <div class="col-3"  style="padding: 0px; display: inline; padding-top: 21px;">
       
          <img src="../../assets/Topicicon.png" style="width: 15px;float: left;"/> 
        
          <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;">{{usersm.TotalTopics}} Topics</h3>
        </div>
        <div class="col-4" style="padding: 0px;display: inline;margin-top: 16px;border-left: 0.12rem solid #d9d0d0;height: 26px;padding-left: 12px;padding-top: 5px;margin-left: 8px;">
          <img src="../../assets/Timeicon.png" style="width: 15px;float: left;"/> <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;"> {{usersm.duration}} Days</h3>

        </div>
        <div class="col-4"  style="padding: 0px;">
          <ion-button id="EnrollNow" color="info" size="default"   [routerLink]="['/coursepage',usersm.id]" expand="block">Enroll Now</ion-button>
        </div>
      </div>
    </div>

  </div>
	</div>
  </div>
  
  
</ion-content>
