


#EnrollNow
{
    background: #ef3232;
    border-radius: 40px;
    font-size: 10px;
    --box-shadow: none;
    font-weight: 600;
    height: 30px;
    margin-top: 11px;
}

#ErrorSignin
{
    color: #ff0724;
    font-size: 16px;
    font-weight: 500;
    clear: both;
    padding: 0px;
    padding: 0px;
    text-align: left;
}


.cab_container {
    ion-scroll {
        height: 136px;
        white-space: nowrap;
    }
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }

  
  .progress-outer {
    width: 100%;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
  }
  .progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fb1c1c;
    height: 10px;
  }