

<ion-content id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 200px;margin: 0px;background-color: white;padding: 0px 15px 0px 15px;border-radius: 10px;">
		<div class="col-6" style="margin-top: 25px;">
			<img  style="border: 6px solid white;width: 30%;border-radius: 50%;float: left;" src="../assets/profilepic.png"/> <h3 style="float: left;margin: 0px;font-size: 16px;color: black;margin-top: 14px;margin-left: 6px;"> {{Fullname}}</h3>
		</div>
    <div class="col-6" style="margin-top: 25px;">
      <ion-buttons slot="start" style="float: right;">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
		</div>
    <div class="col-12"  style="padding: 0px;">
			<h2 style="font-weight: 700;color: black;font-size: 26px;">Find a best <span style="color:red">course for you</span></h2>
		
      <!-- <div id="input_container" style="background: white;padding: 0px;border-radius: 12px;margin-top: 12px;width: 100%;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
            
        <ion-input  [(ngModel)]=searchvalue (ionChange)="dotasksall()" autocomplete="off" autocomplete="off" placeholder="Search "  required style="background: white;border-radius: 8px;padding: 1px 6px 1px 6px !important;"></ion-input>
      </div> -->
		
		</div>
  </div>
  <div class="courseload" style="margin: 0px 15px;margin-top: 200px;">

    <h2 style="font-weight: 700;color: black;font-size: 19px;float: left;margin-bottom: 20px;">Courses in Progress </h2>
    
    <ion-button id="EnrollNow" color="info" size="default"  routerLink="/seeallcourse" routerDirection="forward"   expand="block" style="height: 20px;width: 73px;float: right;margin-top: 17px;">See all</ion-button>

    <div  class="scrolling-wrapper" style="clear:both;">

      <div [routerLink]="['/courserunning',usersm.CID]" class="card" *ngFor = "let usersm of connectionslist1" style="background: white;border-radius: 10px;padding: 14px;margin-bottom: 16px;margin-right:15px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div class="row" >
          <div class="col-4"  style="padding: 0px;">
            <img [src]="usersm.Logo" style="width: 100%;border-radius: 12px;"/>
          </div>
          <div class="col-8"  style="padding: 0px;padding-left: 15px;">
            
        <h2 style="font-weight: 600;color: black;font-size: 12px;margin-top: 10px;margin-bottom: 7px;">{{usersm.CourseName}}</h2>
          
        <h2 style="color: #706c6c;font-size: 10px;margin-top: 10px;margin-bottom: 16px;">{{usersm.TotalTopics}}/{{usersm.TopicsCompleted}} Topics Completed</h2>


        <div class="progress-outer">
          <div class="progress-inner" [style.background-color]="(((usersm.TopicsCompleted/usersm.TotalTopics)*100)==100 ? '#1cb608' : '#fb1c1c') " [style.width]="((usersm.TopicsCompleted/usersm.TotalTopics)*100)+ '%'">&nbsp;</div>
        </div>
          </div>
          
        </div>
      </div>

     

      


    </div> 



    <h2 style="font-weight: 700;color: black;font-size: 19px;float: left;margin-bottom: 20px;">List of Courses Offered </h2>
    
    <ion-button id="EnrollNow" color="info" size="default"  routerLink="/seeallcoursenew" routerDirection="forward"   expand="block" style="height: 20px;width: 73px;float: right;margin-top: 17px;">See all</ion-button>

    <div style="background: white;border-radius: 10px;padding: 14px;margin-bottom: 16px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;" *ngFor = "let usersm of connectionslist" [style.display]="(usersm.isenrolled==1 ? 'none' : 'block')" >
      <img [src]="usersm.Image" style="width: 100%;border-radius: 12px;"  />
      <h2 style="font-weight: 600;color: black;font-size: 16px;margin-top: 10px;margin-bottom: 7px;">{{usersm.coursename}} </h2>
      <p style="margin: 0px;font-size: 12px;text-align: justify;">{{usersm.courseshortdescription}} </p>
      <div class="row">
        <div class="col-3"  style="padding: 0px; display: inline; padding-top: 21px;">
       
          <img src="../../assets/Topicicon.png" style="width: 15px;float: left;"/> 
        
          <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;">{{usersm.TotalTopics}} Topics</h3>
        </div>
        <div class="col-4" style="padding: 0px;display: inline;margin-top: 16px;border-left: 0.12rem solid #d9d0d0;height: 26px;padding-left: 12px;padding-top: 5px;margin-left: 8px;">
          <img src="../../assets/Timeicon.png" style="width: 15px;float: left;"/> <h3 style="font-size: 11px;margin: 0px;float: left;font-weight: 600;margin-left: 10px;"> {{usersm.duration}} Days</h3>

        </div>
        <div class="col-4"  style="padding: 0px;">
          <ion-button id="EnrollNow" color="info" size="default"   [routerLink]="['/coursepage',usersm.id]" expand="block">Enroll Now</ion-button>
        </div>
      </div>
    </div>


    

  
  
   
   



    
  </div>
	</div>
  </div>
  
  
</ion-content>
