

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 75px;width: 100%;margin: 0px;background-color: #ef3232;">
	
			
      <div class="col-2"   style="margin-top: 36px;">
        <img src="../../assets/iconbackarrow.png" routerLink="/dashboard" routerDirection="forward" style="width: 18px;margin-left: 22px;"/>
  
  </div>
		<div class="col-8" style="margin-top: 25px;font-size: 21px;color: white;text-align: center;">
      All Courses in Progress 
  	</div>
    
		<div class="col-2">
     
  	</div>
    
    
   

   
  </div>


  <div class="courseload" style="margin: 0px 15px;margin-top: 130px;">


 
    <div [routerLink]="['/courserunning',usersm.CID]" class="card" *ngFor = "let usersm of connectionslist1" style="background: white;border-radius: 10px;padding: 14px;margin-bottom: 16px;margin-right:15px;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
      <div class="row" >
        <div class="col-4"  style="padding: 0px;">
          <img [src]="usersm.Logo" style="width: 100%;border-radius: 12px;"/>
        </div>
        <div class="col-8"  style="padding: 0px;padding-left: 15px;">
          
      <h2 style="font-weight: 600;color: black;font-size: 12px;margin-top: 10px;margin-bottom: 7px;">{{usersm.CourseName}}</h2>
        
      <h2 style="color: #706c6c;font-size: 10px;margin-top: 10px;margin-bottom: 16px;">{{usersm.TotalTopics}}/{{usersm.TopicsCompleted}} Topics Completed</h2>


      <div class="progress-outer">
        <div class="progress-inner" [style.background-color]="(((usersm.TopicsCompleted/usersm.TotalTopics)*100)==100 ? '#1cb608' : '#fb1c1c') " [style.width]="((usersm.TopicsCompleted/usersm.TotalTopics)*100)+ '%'">&nbsp;</div>
      </div>
        </div>
        
      </div>
    </div>

  </div>
	</div>
  </div>
  
  
</ion-content>
