

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <div id="container">
	<div class="row">
    <div style="position: fixed;z-index: 1000;top: 0px;height: 75px;width: 100%;margin: 0px;background-color: #ef3232;">
	
      <div class="col-3"   style="margin-top: 36px;">
        <img src="../../assets/iconbackarrow.png" [routerLink]="['/coursertopicsingle',cid,tid,iscompleted]" style="width: 18px;margin-left: 22px;"/>
		
		</div>
		<div class="col-6" style="margin-top: 25px;font-size: 21px;color: white;text-align: center;">
      Details
  	</div>
    
		<div class="col-3">
     
  	</div>
    
    
   

   
  </div>


  <div class="courseload" style="margin: 0px 15px;margin-top: 130px;">
  
    <div style="margin-bottom: 15px;" class="faq1" *ngFor = "let usersm of connectionslist">
      <div class="row" style="background: #ef3232;border-radius: 6px;" (click)="changetoggle(usersm.id)">

        <div class="col-10">
          <h3 style="color: white;padding: 7px;font-size: 15px;margin: 0px;">{{usersm.Question}}</h3>
        </div>
        <div class="col-2" style="text-align: center;">
          <img src="../../assets/FAQicon1.png"  style="width: fit-content;margin-top: 10px;"/>

        </div>

      </div>
    <p style="text-align: justify;font-size: 14px;color: #707070;margin: 0px;margin-top: 5px;display:none;padding: 15px;white-space: pre-wrap;" value="0" [id]="'faq-'+ usersm.id">{{usersm.Answer}}
    
      <img [src]="usersm.Image" [style.display]= "(usersm.Image==='' ? 'none' : 'block')" style="width: 100%;border-radius: 12px;"  />
    
    </p>
    </div>

  

  </div>
	</div>
  </div>
  
  
</ion-content>
