

<ion-content [fullscreen]="true" id="bghome" no-scroll padding>


  <!-- <div id="" style="height: 100%;">
	<div class="row"  style="height: 100%;"> 
		<div class="col-12"  style="height: 100%;">
			<img src="../../assets/spl1.png" (click)="ionViewWillEnter()"  style="width: 30%;margin-top: 70%;text-align: center;margin-left: 35%;"/>
			
			
		</div>
	</div>
  </div> -->
</ion-content> 
