#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
	    overflow-x: hidden;
    overflow-y: hidden;
}



#LoginBtn
{
       background: #ef3232;
    border-radius: 40px;
    height: 63px;
    margin-top: 104%;
    --box-shadow: none;
}
#Register
{
    background: #02d636;
    border-radius: 40px;
    height: 63px;
    --box-shadow: none;
}